@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/22px "Lato", Arial, sans-serif;
}

.main-color-text {
  color:black;
  font-weight: bold;
}

nav {
  font-size: 16px;
}

nav .navbar-right {
  float: right;
}
nav ul li {
  display: inline;
  padding-left: 10px;
}
nav ul li a {
  margin-right: 250px;
}

.container {
  margin: auto;
  width: 80%;
}

.shopping-cart {
  margin: 130px 0;
  margin-right: -80px;
  float: right;
  background:white;
  height: 450px;
  width: 500px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 3px 5px 4px 4px rgba(145, 142, 142, 0.562);  
  overflow-y: scroll;
}
  

.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}


.shopping-cart .shopping-cart-footer {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
  
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: center;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
  
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
 
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  
}
.shopping-cart .shopping-cart-items .item-specs {
  margin-right: 8px;
  color: #8f9094;
  
}
.shopping-cart .shopping-cart-items .item-quantity-price {
  font-weight: bold;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 50px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #79ad36;
  color: white;
  text-align: center;
  padding: 15px 70px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.button2 {
    background:white;
    color: black;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    border: 1.5px solid black;
    font-size: 16px;
    margin: 25px 0 15px 0;
  }

  margin-right: -80px;
  float: right;

.thing:after {
  content: "";
  display: table;
  clear: both;
}

.inline {
    display:inline-block;
    margin-right:5px;
 }

 hr {
    border: none;
    height: 0.5px;
    background-color: rgb(199, 199, 199);
 }

.ico {
  margin-top: 20px;
} 

::-webkit-scrollbar {
  width: 16px;
  border: 5px solid white;

}

::-webkit-scrollbar-thumb {
  background-color: white;
  background-clip: padding-box;
  border: 0.05em solid white;
}

::-webkit-scrollbar-track {
  background-color: white;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 10px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
